<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>窖区内部</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="智能厂房管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/factoryinspection/servercss/serverCellarContainer.css}">

    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap-table.min.js}"></script>
    <script>

        function showCurve(that){
            var sensorId = $(that).attr('data-sensorId');
            console.log(sensorId);
            if(sensorId == undefined || sensorId == null || sensorId == ''){
                alert("该设备未启用！");
                return;
            }
            var inputData = {};
            inputData.sensorId = sensorId;
            $.ajax({
                url: "/factoryinspection/server/showSensorCurve",
                method: "post",
                data: inputData,
                success: function (result) {
                    var divshow = $("#curve-container");
                    divshow.text("");// 清空数据
                    divshow.append(result);
                    // $("#tableInfoContainer").html(result);
                },
                error: function () {
                    alert("今日无数据录入。");
                }
            });
        }
    </script>

</head>
<body>
<div class="cellar-part">
    <ul>
        <li>
             <span style="color: whitesmoke; " th:text="'第 '+${pit.pitCode}+' 垮'">
             </span>
            <ul>
                <li class="cellarTree" th:each="row:${cellarSensorTree}">
                    <span class="row-text" th:text="'排 '+${row.key}+'&nbsp&nbsp'">
                    </span>
                    <ul>
                        <li class="vertical-li"  th:each="cellarSensor:${row.value}">
                            <div class="cellar-container-div" th:switch="${cellarSensor.serverSensor.alarmLevel}" >
                                <div class="sensor-img" th:case="0" style="color: darkgrey;background:black url(../static/img/sensorIconBanned.png) 2px 2px no-repeat "
                                     th:text="'窖'+${cellarSensor.serverCellar.cellarCode}"
                                     th:attr="data-sensorId=${cellarSensor.serverSensor.sensorId}" th:sensorId="${cellarSensor.serverSensor.sensorId}" th:onclick="showCurve(this)" >
                                </div>
                                <div class="sensor-img" th:case="1" style="color: forestgreen;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                     th:attr="data-sensorId=${cellarSensor.serverSensor.sensorId}" th:sensorId="${cellarSensor.serverSensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellarSensor.serverCellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellarSensor.serverSensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellarSensor.serverSensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellarSensor.serverSensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                                <div class="sensor-img" th:case="2" style="color: darkorange;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                     th:attr="data-sensorId=${cellarSensor.serverSensor.sensorId}" th:sensorId="${cellarSensor.serverSensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellarSensor.serverCellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellarSensor.serverSensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellarSensor.serverSensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellarSensor.serverSensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                                <div class="sensor-img" th:case="3" style="color: red;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                     th:attr="data-sensorId=${cellarSensor.serverSensor.sensorId}" th:sensorId="${cellarSensor.serverSensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellarSensor.serverCellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellarSensor.serverSensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellarSensor.serverSensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellarSensor.serverSensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                                <div class="sensor-img" th:case="4" style="color: red;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                     th:attr="data-sensorId=${cellarSensor.serverSensor.sensorId}" th:sensorId="${cellarSensor.serverSensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellarSensor.serverCellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellarSensor.serverSensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellarSensor.serverSensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellarSensor.serverSensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--<li class="cellarTree" th:each="row:${cellarTree}">-->
                <!--<span class="row-text" th:text="'排 '+${row.key}+'&nbsp&nbsp'">-->
                <!--</span>-->
                <!--<ul>-->
                <!--<li class="vertical-li"  th:each="cellar:${row.value}">-->
                <!--<div class="cellar-container-div" th:switch="${cellar.sensor.alarmLevel}" >-->
                <!--<div class="sensor-img" th:case="0" style="color: darkgrey;background:black url(../static/img/sensorIconBanned.png) 2px 2px no-repeat "-->
                <!--th:text="'窖'+${cellar.cellarCode}"-->
                <!--th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >-->
                <!--</div>-->
                <!--<div class="sensor-img" th:case="1" style="color: forestgreen;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "-->
                <!--th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >-->
                <!--<div class="curCellarValue">-->
                <!--<span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>-->
                <!--<span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>-->
                <!--<span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>-->
                <!--<span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="sensor-img" th:case="2" style="color: darkorange;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "-->
                <!--th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >-->
                <!--<div class="curCellarValue">-->
                <!--<span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>-->
                <!--<span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>-->
                <!--<span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>-->
                <!--<span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="sensor-img" th:case="3" style="color: red;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "-->
                <!--th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >-->
                <!--<div class="curCellarValue">-->
                <!--<span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>-->
                <!--<span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>-->
                <!--<span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>-->
                <!--<span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="sensor-img" th:case="4" style="color: red;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "-->
                <!--th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >-->
                <!--<div class="curCellarValue">-->
                <!--<span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>-->
                <!--<span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>-->
                <!--<span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>-->
                <!--<span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </li>
    </ul>
</div>

<div id="curve-container" class="curve-part" style="width: 100%;height: 53%;">
</div>

</body>
</html>