<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>厂房地图</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="智能厂房管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" th:href="@{/static/css/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/factoryinspection/servercss/serverPlantMap.css}">

    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/factoryinspection/serverScripts/serverPlantMap.js}"></script>
</head>
<body>
<canvas id="mapCanvas">
</canvas>
<div id="map-div" class="col-xs-12 col-lg-12 col-md-12" th:each="plant:${plants}">
    <img class="plant"
         th:plantId="${plant.plantId}"
         th:clientX = "${plant.clientX}"
         th:clientY = "${plant.clientY}"
         th:alt="${plant.plantName}"
         th:alarmLevel="${plant.alarmLevel}">
</div>
</body>
</html>