<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>窖区内部</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="智能厂房管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" th:href="@{/static/css/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/factoryinspection/localcss/cellarContainer.css}">

    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/factoryinspection/localScripts/cellarContainer.js}"></script>

</head>
<body>
<div class="cellar-part">
    <ul>
        <li>
             <span style="color: whitesmoke; " th:text="'第 '+${pit.pitCode}+' 垮'">
             </span>
            <ul>
                <li class="cellarTree" th:each="row:${cellarTree}">
                    <span class="row-text" th:text="'排 '+${row.key}+'&nbsp&nbsp'">
                    </span>
                    <ul>
                        <li class="vertical-li"  th:each="cellar:${row.value}">
                            <div class="cellar-container-div" th:switch="${cellar.sensor.alarmLevel}" >
                                <div class="sensor-img" th:case="0" style="color: darkgrey;background:black url(../static/img/sensorIconBanned.png) 2px 2px no-repeat "
                                     th:text="'窖'+${cellar.cellarCode}"
                                     th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >
                                </div>
                                <div class="sensor-img" th:case="1" style="color: forestgreen;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                     th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                                <div class="sensor-img" th:case="2" style="color: darkorange;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                      th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                                <div class="sensor-img" th:case="3" style="color: red;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                     th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                                <div class="sensor-img" th:case="4" style="color: red;background:black url(../static/img/sensorIconEmpty.png) 2px 2px no-repeat "
                                     th:attr="data-sensorId=${cellar.sensor.sensorId}" th:sensorId="${cellar.sensor.sensorId}" th:onclick="showCurve(this)" >
                                    <div class="curCellarValue">
                                        <span style="font-size: 13px" th:text="'窖'+${cellar.cellarCode}"></span>
                                        <span th:text="'上: '+${cellar.sensor.curTopNodeValue}"></span>
                                        <span th:text="'中: '+${cellar.sensor.curMidNodeValue}"></span>
                                        <span th:text="'下: '+${cellar.sensor.curBotNodeValue}"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="menu">
    <button id="menu-alter" class="btn btn-info" value="" onclick="alterSensor()">修改</button>
    <button id="menu-delete" class="btn btn-danger" value="" onclick="deleteSensor()">删除</button>
</div>
<div id="curve-container" class="curve-part">
</div>
</body>
<script >
    document.oncontextmenu = function(e) {
        //阻止浏览器默认事件
        return false;//一般点击右键会出现浏览器默认的右键菜单，写了这句代码就可以阻止该默认事件。
    };

    var menu = document.getElementById("menu");
    var alterBtn = document.getElementById("menu-alter");
    var deleteBtn = document.getElementById("menu-delete");
    $(function(){
        $('.sensor-img').mousedown(function(e){
            if(3 == e.which){//鼠标右击
                if($(this).attr('sensorId')){
                    //鼠标点的坐标
                    var sensorId = $(this).attr('sensorId');
                    menu.style.display = "block";
                    //让自定义菜单随鼠标的箭头位置移动
                    menu.style.left = e.clientX + "px";
                    menu.style.top = e.clientY + "px";
                    alterBtn.value = sensorId;
                    deleteBtn.value = sensorId;
                }else {
                    alert("该设备未启用,无法操作.");
                }
            }
        })
    });
    //实现点击document，自定义菜单消失
    document.onclick = function() {
        menu.style.display = "none";
    };
</script>
</html>