<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="智能厂房管理系统">

    <!--<link rel="stylesheet" th:href="@{/static/css/factoryinspection/factoryinspection.css}">-->
    <!--<link rel="stylesheet" th:href="@{/static/css/factoryinspection/factoryinside.css}">-->
    <link rel="stylesheet" th:href="@{/static/css/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-table.min.css}">

    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery.timers-1.2.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/ezuikit/js/hls.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/ezuikit/ezuikit.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap-table.min.js}"></script>
    <script>

        function showCurve(that){
            var sensorId = $(that).attr('data-sensorId');
            console.log(sensorId);
            if(sensorId == undefined || sensorId == null || sensorId == ''){
                alert("该设备未启用！");
                return;
            }
            var inputData = {};
            inputData.sensorId = sensorId;
            $.ajax({
                url: "/factoryinspection/winery/showSensorCurve",
                method: "post",
                data: inputData,
                success: function (result) {
                    var divshow = $("#curve-container");
                    divshow.text("");// 清空数据
                    divshow.append(result);
                    // $("#tableInfoContainer").html(result);
                },
                error: function () {
                    alert("今日无数据录入。");
                }
            });
        }

        function showHisCurve(that){
            var sensorId = $(that).attr('data-sensorId');
            var inputData = {};
            inputData.sensorId = sensorId;
            $.ajax({
                url: "/factoryinspection/winery/showHisSensorCurve",
                method: "post",
                data: inputData,
                success: function (result) {
                    var divshow = $("#curve-container");
                    divshow.text("");// 清空数据
                    divshow.append(result);
                    // $("#tableInfoContainer").html(result);
                },
                error: function () {
                    alert("无历史数据。");
                }
            });
        }
    </script>

    <style>
        /* 模态框样式 */
        .loading {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 9999;
        }

        /* 动图样式 */
        .loading .gif {
            height: 32px;
            width: 32px;
            background: url(../static/img/loading.gif);
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -16px;
            margin-top: -16px;
            z-index: 9999;
        }
        .vertical-li{
            list-style-image: none;
            list-style-type: none;
            float: left;
        }
        .sensor-img{
            width: 92px;
            height: 83px;
        }
        .cellar-part::-webkit-scrollbar {
            display:none
        }
        .cellar-part{
            overflow: scroll
        }
    </style>
</head>
<body>
<div class="cellar-part" style="width: 100%;height: 50%;">
    <ul class="cellar-container-ul">
        <!--<li style="width: 60px;height: 550px;background:black url(../static/img/pitLeftPadding.png) 2px 2px no-repeat" class="vertical-li pit-container-border" ></li>-->
        <li style="width: 100%;min-height: 550px;text-align: center;padding: 0 22%;" class="vertical-li pit-container-border" >
             <span style="color: whitesmoke; position: relative;" th:text="'第 '+${pit.pitCode}+' 垮'">
             </span>
            <ul>
                <li style="max-width: 92px;" class="vertical-li pit-container-border"  th:each="row:${cellarTree}">
                    <span style="color: whitesmoke;" th:text="'排 '+${row.key}"></span>
                    <ul>
                        <li class="vertical-li"  th:each="cellar:${row.value}">
                            <div style="cursor: pointer;width: 92px; height: 83px;" th:switch="${cellar.sensor.alarmLevel}" >
                                <div class="sensor-img" th:case="0" style="color: darkgrey;font-size: 17px; padding: 14px 0;background:black url(../static/img/sensorIconBanned.png) 2px 2px no-repeat " th:text="'窖'+${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)" ></div>
                                <div class="sensor-img" th:case="1" style="color: forestgreen;font-size: 17px; padding: 14px 0;background:black url(../static/img/sensorIcon.png) 2px 2px no-repeat " th:text="'窖'+${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)" ></div>
                                <div class="sensor-img" th:case="2" style="color: darkorange;font-size: 17px; padding: 14px 0;background:black url(../static/img/sensorIconOrange.png) 2px 2px no-repeat " th:text="'窖'+${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)" ></div>
                                <div class="sensor-img" th:case="3" style="color: red;font-size: 17px; padding: 14px 0;background:black url(../static/img/sensorIconWarn.png) 2px 2px no-repeat " th:text="'窖'+${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)" ></div>
                                <div class="sensor-img" th:case="4" style="color: red;font-size: 17px; padding: 14px 0;background:black url(../static/img/sensorIconWarn.png) 2px 2px no-repeat " th:text="'窖'+${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)" ></div>
                                <!--<img class="sensor-img" th:case="1" th:src="@{/static/img/sensorIcon.png}" th:alt="${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)">-->
                                <!--<img class="sensor-img" th:case="2" th:src="@{/static/img/sensorIconOrange.png}" th:alt="${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)">-->
                                <!--<img class="sensor-img" th:case="3" th:src="@{/static/img/sensorIconWarn.png}" th:alt="${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)">-->
                                <!--<img class="sensor-img" th:case="4" th:src="@{/static/img/sensorIconWarn.png}" th:alt="${cellar.cellarCode}" th:attr="data-sensorId=${cellar.sensor.sensorId}" th:onclick="showCurve(this)">-->
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <!--<button class="btn btn-success" style="margin-top: 35px" th:attr="data-sensorId=${sensor.sensorId}" th:onclick="showSensorCurve(this)">今日趋势</button>-->
    <!--<button class="btn btn-primary" style="margin-top: 35px" th:attr="data-sensorId=${sensor.sensorId}" th:onclick="showHisSensorCurve(this)">历史记录</button>-->
</div>

<div id="curve-container" class="curve-part" style="width: 100%;height: 50%;">
</div>

</body>
</html>