<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>厂房地图</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="智能厂房管理系统">

    <!--<link rel="stylesheet" href="/static/css/factoryinspection/factoryinspection.css" >-->
    <!--<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css">-->

    <!--<script type="text/javascript" src="/static/scripts/plugin/jquery-1.10.2.min.js"></script>-->
    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery.timers-1.2.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/factoryinspection/factoryinspection.js}"></script>

    <script type="text/javascript">

        var pathname = window.location.pathname;
        var projectName = pathname.substring(0,pathname.substr(1).indexOf('/') + 1);
        console.log("pathname: " + pathname + " , projectName: " + projectName);
        $(document).ready(function () {


            $(".factory").each(function (index,element){
                var alarmColor = $(this).attr("alarmColor");
                var clientX = $(this).attr("clientX");
                var clientY = $(this).attr("clientY");
                var factoryId = $(this).attr("factoryId");
                console.log(typeof(clientX) + " , " + typeof(clientY) +"aaa");
                $(this).css("left", parseInt(clientX));
                $(this).css("top", parseInt(clientY));
                if(alarmColor == "BLUE"){
                    $(this).attr("src", "../static/img/Marker-blue.png");
                    console.log("blue");
                }else if(alarmColor == "YELLOW"){
                    $(this).attr("src", "../static/img/Marker-yellow.png");
                    console.log("yellow");
                }else if(alarmColor == "ORANGE"){
                    $(this).attr("src", "../static/img/Marker-orange.png");
                    $(this).everyTime("0.5s", function () {
                        if(element.style.display == "block"){
                            element.style.display = "none"
                        }else {
                            element.style.display = "block"
                        }
                    });
                    console.log("orange");
                }else if(alarmColor == "RED"){
                    $(this).attr("src", "../static/img/Marker-red.png");
                    $(this).everyTime("0.5s", function () {
                        if(element.style.display == "block"){
                            element.style.display = "none"
                        }else {
                            element.style.display = "block"
                        }
                    });
                    console.log("red");
                }
            });
        });
        //
        // function F_Open_dialog() {
        //     $('#btn_file').click();
        // }

        // //手动添加点
        // function b(){
        // var d1=document.getElementById("tagContainer");
        // var img=document.createElement("img");
        // img.id="tag";
        // img.src="../static/img/Marker-blue.png";
        // // img.draggable=true;
        // img.style.position="absolute";
        // // img.onmouseup = function(event){
        // //     x=event.clientX;
        // //     y=event.clientY;
        // //     alert("X coords: " + x + ", Y coords: " + y)
        // // }--%>
        // d1.appendChild(img);
        // }
        // b();
        // var pathname = window.location.pathname;
        // var projectName = pathname.substring(0,pathname.substr(1).indexOf('/') + 1);
        // $(document).ready(function(){
        //     $(".factory").each(function (index,element) {
        //         var alarmLevel = Number($(this).attr("alarmLevel"));
        //         if(alarmLevel > 2){
        //             $(this).everyTime("0.5s", function () {
        //                 if(element.style.display == "block"){
        //                     element.style.display = "none"
        //                 }else {
        //                     element.style.display = "block"
        //                 }
        //             });
        //         }
        //     })
        // });

        $(this).click(function(e) { // 在页面任意位置点击而触发此事件
            // e.target表示被点击的目标
            var machineType =$('#machineType').val();
            var factoryId = $(e.target).attr("factoryId");
            if(machineType=="server"){
                if(factoryId == null){
                    return;
                }
                location.href =  projectName+"/serverfactory/serverfactoryinside?factoryId=" + factoryId;
            }else if(machineType == "local"){
                if(factoryId == null){
                    return;
                }
                location.href =  projectName+"/factory/factoryinside?factoryId=" + factoryId;
            }

        });
    </script>
    <style>
        #mapCanvas{
            width: 100%;
            height: 100%;
            background:  white url(../static/img/factorymap.png) 2px 2px no-repeat;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
<!--
//两种资源获取方式
//<img th:src="@{~/temp.png}"/>
//<img th:src="@{/img/temp.png}"/> th:src="@{/static/img/Marker-blue.png}"
-->
<input id="machineType" style="display: none;" type="text" th:value="#{com.loohos.machineType}">
<canvas id="mapCanvas">
    <!--<img id="tag" src="../static/img/Marker-blue.png" alt="blue">-->
</canvas>
    <div id="factoryMapContainer" class="col-xs-12 col-lg-12 col-md-12" th:each="factory:${factories}" >
        <img  class="factory" th:factoryId="${factory.factoryId}"
            th:alarmColor="${factory.factoryAlarmColor}"
              th:clientX = "${factory.factoryClientX}"
              th:clientY = "${factory.factoryClientY}"
             th:alt="${factory.factoryName}"
             th:alarmLevel="${factory.factoryAlarmLevel}"
              style="display: block;position: absolute;cursor: pointer"
        />
    </div>
<!-- 拖拽添加点 -->
<!--<script>-->
    <!--var dragItem = document.querySelector("#tag");-->
    <!--var container = document.querySelector("#mapCanvas");-->

    <!--var active = false;-->
    <!--var currentX;-->
    <!--var currentY;-->
    <!--var initialX;-->
    <!--var initialY;-->
    <!--var xOffset = 0;-->
    <!--var yOffset = 0;-->

    <!--container.addEventListener("touchstart", dragStart, false);-->
    <!--container.addEventListener("touchend", dragEnd, false);-->
    <!--container.addEventListener("touchmove", drag, false);-->

    <!--container.addEventListener("mousedown", dragStart, false);-->
    <!--container.addEventListener("mouseup", dragEnd, false);-->
    <!--container.addEventListener("mousemove", drag, false);-->

    <!--function dragStart(e) {-->
        <!--if (e.type === "touchstart") {-->
            <!--initialX = e.touches[0].clientX - xOffset;-->
            <!--initialY = e.touches[0].clientY - yOffset;-->
        <!--} else {-->
            <!--initialX = e.clientX - xOffset;-->
            <!--initialY = e.clientY - yOffset;-->
        <!--}-->

        <!--if (e.target === dragItem) {-->
            <!--active = true;-->
        <!--}-->
    <!--}-->

    <!--function dragEnd(e) {-->
        <!--initialX = currentX;-->
        <!--initialY = currentY;-->

        <!--var inputData = {};-->
        <!--inputData.factoryName = window.prompt("请输入新增厂房名： ");-->
        <!--var d1=document.getElementById("tagContainer");-->
        <!--var img=document.createElement("newTag");-->
        <!--img.id="tag";-->
        <!--img.src="../static/img/greenDot.png";-->
        <!--// img.draggable=true;-->
        <!--d1.appendChild(img);-->
        <!--console.log(inputData.factoryName);-->
        <!--active = false;-->
    <!--}-->

    <!--function drag(e) {-->
        <!--if (active) {-->

            <!--e.preventDefault();-->

            <!--if (e.type === "touchmove") {-->
                <!--currentX = e.touches[0].clientX - initialX;-->
                <!--currentY = e.touches[0].clientY - initialY;-->
            <!--} else {-->
                <!--currentX = e.clientX - initialX;-->
                <!--currentY = e.clientY - initialY;-->
            <!--}-->

            <!--xOffset = currentX;-->
            <!--yOffset = currentY;-->

            <!--setTranslate(currentX, currentY, dragItem);-->
        <!--}-->
    <!--}-->

    <!--function setTranslate(xPos, yPos, el) {-->
        <!--el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";-->

    <!--}-->
<!--</script>-->
</body>
</html>