<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>设备温度趋势图</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="智能厂房管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" th:href="@{/static/css/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/factoryinspection/mobilecss/mobileCurve.css}">

    <script type="text/javascript" th:src="@{/static/scripts/plugin/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/factoryinspection/mobileScripts/mobileCurve.js}"></script>

    <style>
        #fullScreenLayer{
            display: none;
        }
        #fullScreenLayerBtn{
            display: none;
        }
        #mobile-plant-header{
            width: 100%;
            text-align: center;
            font-size: 20px;
            padding: 8px 0;
            background: aqua;
            font-weight: 600;
        }
    </style>
</head>
<body>
<!--全屏部分-->
<button id="fullScreenLayerBtn" class="btn btn-success" onclick="closeFullScreen()">退出全屏</button>
<div id="fullScreenLayer">
    <div id="fullScreenContainer">
    </div>
</div>

<!--主体部分-->
<div id="mobile-plant-header">
    <span th:text="${serverPlant.plantName}+'第'+${serverPit.pitCode}+'垮趋势图'"></span>
    <i class="fa fa-arrow-left fa-1g" style="color: black;position: absolute;left: 4%;top: 1.2%;font-size: 20px;" onclick="backToMobileCellarContainer()"></i>
</div>
<div id="wholeDiv">
    <div id="mainDiv">
        <div id="main" style="width: 100%;height: 100%;min-height: 300px"></div>
    </div>
    <div id="operateDiv">
        <p class="introP">按照日期范围查询</p>
        <div id="queryByDateRange">
            <div id="dateTimeSelector">
                <div class="input-group date form_date mr10">
                    <input class="form-control" placeholder="开始日期" readonly="readonly" type="text" id="startDate">
                </div>
                <div class="input-group date form_date">
                    <input class="form-control" placeholder="结束日期" readonly="readonly" type="text" id="endDate">
                </div>
            </div>
            <div id="dateTimeBtn">
                <button class=" btn btn-group-xs btn-primary" id="dateRangeQueryBtn" onclick="queryByDateRange()">查询</button>
                <button class=" btn btn-group-xs btn-primary" id="dateRangeResetBtn" onclick="resetTimeRange()">重置</button>
            </div></div>
        <p class="introP">按照小时数查询</p>
        <div id="queryByHours">
            <div id="toggleCurveBtn">
                <p>点击查询过去 <input style="max-width: 100px" id="hours" type="text"> 小时曲线</p>
                <button class="btn btn-primary" onclick="lastHours()">查询</button>
            </div>
        </div>
        <p class="introP">操作列表</p>
        <div id="refreshBackAndFullScreenBtn">
            <button class="btn btn-success" onclick="dailyLine()">刷新图表</button>
            <!--<button class="btn btn-primary" onclick="screenOrientationEvent()">全屏显示</button>-->
            <button class="btn btn-info" onclick="backToWinery()">返回厂区</button>
        </div>
    </div>

</div>
<input id="serverPlantId" style="display: none" th:value="${serverPlant.plantId}">
<input id="serverPitId" style="display: none" th:value="${serverPit.pitId}">
<input id="sensorId" style="display: none" th:value="${sensorId}">
<script type="text/javascript" th:inline="javascript">


    window.addEventListener("orientationchange", function() {
        if(window.orientation == '90'){
            document.getElementById("mobile-plant-header").style.display = "none";
            document.getElementById("operateDiv").style.display = "inline-flex";
        }else if(window.orientation == '0'){
            document.getElementById("mobile-plant-header").style.display = "block";
            document.getElementById("operateDiv").style.display = "block";
        }
    }, false);

    var plantId = document.getElementById("serverPlantId").value;
    var pitId = document.getElementById("serverPitId").value;
    function backToMobileCellarContainer() {
        location.href =  projectName+"/mobile/mobileCurveDetail?plantId=" + plantId + "&pitId=" + pitId;
    }
    var myChart = echarts.init(document.getElementById('main'),'dark');
    var fullScreenContainer = document.getElementById('fullScreenContainer');
    fullScreenContainer.style.width = window.innerWidth + 'px';
    fullScreenContainer.style.height = window.innerHeight + 'px';
    var fullScreenChart = echarts.init(fullScreenContainer,'dark');
    var dates = JSON.parse([[${createdTimes}]]);
    if(dates == null){
        alert("今日数据未录入，请稍后重试")
    }
    var topTemps = JSON.parse([[${topTemps}]]);
    var midTemps = JSON.parse([[${midTemps}]]);
    var botTemps = JSON.parse([[${botTemps}]]);
    // 指定图表的配置项和数据
    var dailyOption = {
        backgroundColor:"rgba(178,178,178,0.4)",  //组件的背景颜色
        noDataLoadingOption: {
            text: '暂无数据',
            effect: 'bubble',
            effectOption: {
                effect: {
                    n: 0
                }
            }
        },
        title: {
            text: '今日窖藏温度',
            subtext:''
        }, //图表左上方简介
        legend: {
            data:['上层温度值', '中层温度值', '底层温度值']
        }, //显示曲线简介

        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            }
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    show: true,
                    yAxisIndex: 'none'
                },
                dataView: {
                    show: true,
                    readOnly: false
                }

            }
        },
        xAxis:  {
            name: "时间(时：分)",
            type: 'category',
            boundaryGap: false,
            data: dates,
            axisLabel: {
                //处理时间格式
                formatter: function (value, index) {
                    // 格式化成月/日，只在第一个刻度显示年份
                    var date = new Date(value);
                    var texts = [date.getHours(), date.getMinutes()];
                    if (index === 0) {
                        texts.unshift(date.getFullYear()+"."+(date.getMonth() + 1)+"."+date.getDate());
                    }
                    return texts.join(':');
                }
            }

        },
        yAxis: {
            name: "温度值",
            type: 'value',
            axisLabel: {
                formatter:'{value} °C'
            },
            axisPointer: {
                snap: true
            }
        },
        series: [
            {
                name:'上层温度值',
                type:'line',
                smooth: true,
                data: topTemps
            },
            {
                name:'中层温度值',
                type:'line',
                smooth: true,
                connectNulls: true ,//连接数据为null的前后点
                data: midTemps
            },
            {
                name:'底层温度值',
                type:'line',
                smooth: true,
                data: botTemps
            }
        ]

    };

    window.onresize = myChart.resize;
    $("#main").resize(myChart.resize);
    myChart.setOption(dailyOption);
</script>

</body>
</html>